@model Fiap.MasterChefReceitas.Web.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}


<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">MasterChef Receitas</h1>
                <p class="lead">As melhores receitas estão aqui !</p>
            </div>
        </div>
    </div>
</header>
<br />

<div class="text-center">
    <h1 class="my-4">
        Receitas
        <hr class="linhaTitulo bg-vinho"/>
    </h1>
    <div id="bodyReceitas" class="row">
        @foreach (var item in Model.Receitas)
        {
            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @item.TituloReceita
                        </h4>
                        <p class="card-text">@item.IdReceita</p>
                        <a href="@Url.Action("Detalhe", "Receita", new { id = @item.IdReceita })" class="btn btn-primary">Ver Mais</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
