@model Fiap.MasterChefReceitas.Web.Models.ReceitaViewModel

@{
    ViewData["Title"] = "Novo";
}

<h1>Novo</h1>

<h4>ReceitaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<hidden asp-for="IdReceita" class="form-control" />*@
            </div>
            <div class="form-group">
                <label asp-for="TituloReceita" class="control-label"></label>
                <input asp-for="TituloReceita" class="form-control" />
                <span asp-validation-for="TituloReceita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rendimento" class="control-label"></label>
                <input asp-for="Rendimento" class="form-control" />
                <span asp-validation-for="Rendimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoPreparo" class="control-label"></label>
                <input asp-for="TempoPreparo" class="form-control" />
                <span asp-validation-for="TempoPreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
